.u-section-1 {
  background-image: none;
  min-height: 694px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 603px);
  height: 283px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -421px auto -78px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 559px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 115px 0 0;
}

.u-section-1 .u-image-1 {
  width: 516px;
  height: 559px;
  animation-duration: 1000ms;
  margin: 45px auto -45px -20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 559px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 40px;
}

.u-section-1 .u-text-1 {
  font-family: "Archivo Black";
  font-size: 4.875rem;
  text-transform: uppercase;
  margin: 56px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 30px 131px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 596px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 516px);
    margin-top: 169px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -404px;
    margin-bottom: 48px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-1 .u-image-1 {
    width: 430px;
    height: 436px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 678px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 374px);
    margin-top: 198px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -432px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 332px;
    height: 397px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 568px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 15px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 981px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 494px);
    margin-top: 143px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -373px;
    margin-bottom: 53px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 434px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 927px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    height: 241px;
    margin-top: 53px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -304px;
    margin-bottom: -10px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    width: 297px;
    height: 358px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1124px;
}

.u-section-2 .u-text-1 {
  margin: 78px 311px 0;
}

.u-section-2 .u-text-2 {
  margin: 52px 0 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 135px;
  margin: 140px auto 0;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 287px;
  margin: 67px 0 0 auto;
}

.u-section-2 .u-image-3 {
  width: 570px;
  height: 250px;
  animation-duration: 1000ms;
  margin: -287px 570px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 52px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 235px;
}

.u-section-2 .u-container-layout-1 {
  padding: 5px 30px 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 -30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-2 .u-text-1 {
    width: 519px;
    margin-right: 211px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 642px;
    margin-right: 100px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -473px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 194px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 311px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 668px;
    margin-right: 210px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -498px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -78px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -6px;
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1312px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 127px;
    margin-top: 691px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 272px;
    margin-top: -514px;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 237px;
    margin-top: -237px;
    margin-left: 300px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 20px;
    margin-left: 300px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 80px;
    margin-top: 716px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 171px;
    margin-top: -492px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 149px;
    margin-top: -176px;
    margin-left: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -6px;
    margin-left: 400px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 954px;
}

.u-section-3 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1009px;
  margin: 40px auto 50px 66px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 322px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 295px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 715px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 317px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 295px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 295px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-text-12 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 666px;
  }

  .u-section-3 .u-image-1 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-right: 173px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 275px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-right: 157px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -810px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 480px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -824px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    font-size: 2.25rem;
  }
}.u-section-4 {
  min-height: 2658px;
}

.u-section-4 .u-text-1 {
  margin: 80px 229px 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 364px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 272px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: 70px calc(((100% - 1140px) / 2) + 570px) 0 calc(((100% - 1140px) / 2) + 30px);
}

.u-section-4 .u-text-6 {
  margin: 20px calc(((100% - 1140px) / 2) + 600px) 0 calc(((100% - 1140px) / 2) + 30px);
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-text-7 {
  animation-duration: 1000ms;
  margin: -179px calc(((100% - 1140px) / 2) + 30px) 0 calc(((100% - 1140px) / 2) + 600px);
}

.u-section-4 .u-text-8 {
  margin: 65px calc(((100% - 1140px) / 2) + 600px) 0 calc(((100% - 1140px) / 2) + 30px);
}

.u-section-4 .u-text-9 {
  margin: 20px calc(((100% - 1140px) / 2) + 600px) 0 calc(((100% - 1140px) / 2) + 30px);
}

.u-section-4 .u-btn-3 {
  padding: 0;
}

.u-section-4 .u-btn-4 {
  padding: 0;
}

.u-section-4 .u-btn-5 {
  padding: 0;
}

.u-section-4 .u-btn-6 {
  padding: 0;
}

.u-section-4 .u-btn-7 {
  padding: 0;
}

.u-section-4 .u-btn-8 {
  padding: 0;
}

.u-section-4 .u-text-10 {
  margin: -640px calc(((100% - 1140px) / 2) + 30px) 0 calc(((100% - 1140px) / 2) + 600px);
}

.u-section-4 .u-image-1 {
  width: 498px;
  height: 361px;
  margin: 46px auto 0 calc(((100% - 1140px) / 2) + 321px);
}

.u-section-4 .u-text-11 {
  margin: 61px calc(((100% - 1140px) / 2) + 114px) 60px calc(((100% - 1140px) / 2) + 70px);
}

.u-section-4 .u-btn-9 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 2594px;
  }

  .u-section-4 .u-text-1 {
    width: 843px;
    margin-left: calc(((100% - 1140px) / 2) + 149px);
    margin-right: calc(((100% - 1140px) / 2) + 149px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 224px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 40px;
    margin-right: calc(((100% - 1140px) / 2) + 500px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 500px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 500px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 530px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + 530px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-text-10 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 530px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-image-1 {
    height: 362px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 206px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 2394px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 390px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-text-6 {
    margin-top: -49px;
    margin-right: calc(((100% - 1140px) / 2) + 420px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-text-7 {
    margin-top: -179px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-4 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 420px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + 420px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-text-10 {
    margin-top: -640px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-4 .u-image-1 {
    width: 499px;
  }

  .u-section-4 .u-text-11 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 2494px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 65px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-text-6 {
    margin-top: -74px;
    margin-right: calc(((100% - 1140px) / 2) + 330px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 330px);
  }

  .u-section-4 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 330px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + 330px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-text-10 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 330px);
  }

  .u-section-4 .u-image-1 {
    width: 498px;
  }

  .u-section-4 .u-text-11 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 2380px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-5 {
    margin-top: 168px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-6 {
    margin-top: -164px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-7 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-8 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-9 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-10 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 247px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-11 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 614px;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 60px 450px 0 73px;
}

.u-section-5 .u-text-2 {
  margin: 20px 128px 60px 73px;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 323px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 640px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 53px 463px 0 60px;
}

.u-section-6 .u-text-2 {
  margin: 27px 60px 60px;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-btn-2 {
  padding: 0;
}

.u-section-6 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 323px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 307px;
}

.u-section-7 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 48px 463px 0 60px;
}

.u-section-7 .u-text-2 {
  margin: 32px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 323px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: auto;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 475px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  font-weight: normal;
}

.u-section-8 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 355px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 224px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 212px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 475px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  font-weight: normal;
}

.u-section-9 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 355px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 224px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 212px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 2393px;
}

.u-section-10 .u-text-1 {
  width: 680px;
  margin: 97px auto 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 59px 0;
}

.u-section-10 .u-text-3 {
  margin: 20px 59px 0;
}

.u-section-10 .u-btn-1 {
  padding: 0;
}

.u-section-10 .u-btn-2 {
  padding: 0;
}

.u-section-10 .u-image-1 {
  width: 570px;
  height: 412px;
  margin: 20px auto 0;
}

.u-section-10 .u-text-4 {
  margin: 30px 59px 0;
}

.u-section-10 .u-text-5 {
  margin: 20px 59px 0;
}

.u-section-10 .u-btn-3 {
  padding: 0;
}

.u-section-10 .u-image-2 {
  width: 570px;
  height: 427px;
  margin: 30px auto 0;
}

.u-section-10 .u-text-6 {
  margin: 30px 59px 0;
}

.u-section-10 .u-text-7 {
  margin: 20px 59px 0;
}

.u-section-10 .u-text-8 {
  margin: 20px 59px 0;
}

.u-section-10 .u-text-9 {
  margin: 20px 59px 0;
}

.u-section-10 .u-btn-4 {
  padding: 0;
}

.u-section-10 .u-text-10 {
  margin: 20px 59px 0;
}

.u-section-10 .u-text-11 {
  margin: 20px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    width: 680px;
    margin-left: 130px;
    margin-right: 130px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2349px;
  }

  .u-section-10 .u-text-1 {
    width: 540px;
  }

  .u-section-10 .u-text-3 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-image-1 {
    width: 540px;
    height: 390px;
  }

  .u-section-10 .u-image-2 {
    width: 540px;
    height: 404px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2055px;
  }

  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-text-3 {
    width: 340px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 246px;
  }

  .u-section-10 .u-image-2 {
    width: 340px;
    height: 254px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 2075px;
}

.u-section-11 .u-text-1 {
  width: 680px;
  margin: 62px auto 0;
}

.u-section-11 .u-text-2 {
  margin: 20px 230px 0;
}

.u-section-11 .u-text-3 {
  margin: 60px 60px 0;
}

.u-section-11 .u-btn-1 {
  padding: 0;
}

.u-section-11 .u-btn-2 {
  padding: 0;
}

.u-section-11 .u-btn-3 {
  padding: 0;
}

.u-section-11 .u-btn-4 {
  padding: 0;
}

.u-section-11 .u-btn-5 {
  padding: 0;
}

.u-section-11 .u-btn-6 {
  padding: 0;
}

.u-section-11 .u-text-4 {
  margin: 20px 60px 60px;
}

.u-section-11 .u-btn-7 {
  padding: 0;
}

.u-section-11 .u-btn-8 {
  padding: 0;
}

.u-section-11 .u-btn-9 {
  padding: 0;
}

.u-section-11 .u-btn-10 {
  padding: 0;
}

.u-section-11 .u-btn-11 {
  padding: 0;
}

.u-section-11 .u-btn-12 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-2 {
    width: 680px;
    margin-left: 130px;
    margin-right: 130px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    width: 540px;
  }

  .u-section-11 .u-text-2 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    width: 340px;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1122px;
}

.u-section-12 .u-text-1 {
  width: 680px;
  margin: 97px auto 0;
}

.u-section-12 .u-text-2 {
  margin: 39px 39px 60px 81px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 2718px;
  }

  .u-section-12 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 2492px;
  }

  .u-section-12 .u-text-1 {
    width: 340px;
  }
}.u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 765px;
}

.u-section-13 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 266px;
}

.u-section-13 .u-container-layout-1 {
  padding-left: 100px;
}

.u-section-13 .u-image-1 {
  height: 236px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 266px;
  background-image: none;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-13 .u-text-1 {
  font-size: 9.375rem;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 0 269px 0 0;
}

.u-section-13 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-13 .u-image-2 {
  min-height: 531px;
  background-image: url("images/fmin.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-13 .u-image-1 {
    height: 186px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 169px;
  }

  .u-section-13 .u-image-2 {
    min-height: 438px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 168px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 60px;
  }

  .u-section-13 .u-image-1 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-text-1 {
    font-size: 7.5rem;
    margin-right: 99px;
  }

  .u-section-13 .u-image-2 {
    min-height: 335px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-13 .u-image-1 {
    height: 267px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-2 {
    min-height: 503px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 159px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-13 .u-image-1 {
    height: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-13 .u-text-1 {
    font-size: 6rem;
    width: auto;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-13 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-13 .u-image-2 {
    min-height: 317px;
  }
}.u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 554px;
}

.u-section-14 .u-shape-1 {
  width: 281px;
  background-image: none;
  left: 289px;
  right: auto;
}

.u-section-14 .u-layout-wrap-1 {
  margin: 61px auto 60px 0;
}

.u-section-14 .u-image-1 {
  min-height: 433px;
  background-image: url("images/1698e4f4-ab0e-493c-9e45-0175f28d2bd4.jpg");
  background-position: 50% 50%;
}

.u-section-14 .u-container-layout-1 {
  padding: 20px;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 433px;
}

.u-section-14 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-14 .u-text-1 {
  margin: 0;
}

.u-section-14 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-14 .u-btn-1 {
  padding: 0;
}

.u-section-14 .u-btn-2 {
  padding: 0;
}

.u-section-14 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-14 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-14 .u-btn-4 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 34px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-14 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-image-1 {
    min-height: 357px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-14 .u-image-1 {
    min-height: 273px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-14 .u-shape-1 {
    left: 0;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 493px;
    margin-top: 60px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-14 .u-image-1 {
    min-height: 410px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-14 .u-shape-1 {
    width: 202px;
    left: -2px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 309px;
    margin-top: 61px;
  }

  .u-section-14 .u-image-1 {
    min-height: 283px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 498px;
  }
}